@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply max-w-2xl mx-auto px-4 flex justify-center items-center;
  }
}

:root {
  --background: #eeeeeee6;
  --foreground: #232121;
}

[data-theme="dark"] {
  --background: #282121;
  --foreground: #f8f4f4e6;
}

body {
  background-color: var(--background);
  color: var(--foreground);
}

.blog-post p,
.blog-post ol,
.blog-post ul {
  margin: 12px 0;
}

.blog-post b,
.blog-post h3 strong {
  font-weight: 500;
}

.blog-post ol,
.blog-post ul {
  margin-left: 10px;
  list-style: initial;
}

.blog-post li {
  margin: 10px 0;
  margin-left: 25px;
}

.blog-post hr {
  margin: 20px auto;
}

.blog-post h1 {
  margin: 5px auto;
  font-size: 2rem;
  font-weight: 700;
}

.blog-post h2 {
  margin: 5px auto;
  font-size: 1.7rem;
  font-weight: 700;
}

.blog-post h3 {
  margin: 5px auto;
  font-size: 1.3rem;
  font-weight: 700;
}

.blog-post h4 {
  margin: 5px auto;
  font-size: 1.1rem;
  font-weight: 700;
}

.blog-post pre {
  width: 80%;
  margin: 7px auto;
  font-size: 0.8rem;
  padding: 15px;
  border-radius: 10px;
  text-wrap: auto;
  color: #f2efef;
  background-color: rgb(26 24 24 / 72%);
}
