@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
  body {
    @apply max-w-2xl mx-auto px-4 flex justify-center items-center;
  }
}

:root {
  --background: white;
  --foreground: black;
}

[data-theme='dark'] {
  --background: black;
  --foreground: white;
}